# Object files
*.o
*.obj
# Executables
*.exe
test
test_avalanche
test_checksum
test_chipiona
test_ciphers
test_csv
test_ecc
test_entropy
test_hashes
test_json
test_3.json
test_mpint
test_pdf
test_pem
test_primes
test_random
test_rsa
test_sort
test_ticks
# Test output fil
# Test output files
*.txt
uk_postcodes.csv
# Miscellaneous files
.DS_Store


